@media only screen and (max-width:900px){
    ion-col{
        font-size:1rem;
        border: .5px solid rgb(236, 8, 8);
    }  

    ion-item, ion-label{
        font-size: 1rem;
    }
}

@media only screen and (max-width:1200px){
    ion-col{
        background-color: #accec8;
        padding: 15px;
        text-align: center;
        border: .5px solid black;
        font-size: 1.2rem;
    }
    
    ion-item, ion-label{
        text-align: right;
        font-size: 1.2rem;
        height: 9%;
    }
}